
body { margin: 0; }
canvas {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.text-label {
  width: 120px;
  height: 120px;
  color: #444;
  opacity: 0;
  font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 8px;
  margin: -3px 0 0 15px;
  pointer-events:none;
}
